<template name="helpag">
	<div class="container-fluid pag_help " >
     <div  class="generatedquery">
	<div class="HelpTitle">  <h3> DOCUMENTACIÓN </h3></div> <br>
    Para obtener información relacionada con la aplicación puede  <br> consultar el manual de usuario, en el siguiente enlace: <br><br>
	<a href="https://goo.gl/ANAWS3"  target="_blank" draggable="false">Ver Manual</a> 
	<div class="HelpTitle2">  <h3> INFORMACIÓN DE CONTACTO </h3></div> <br>
     Departamento de ciencias de la computación de la Universidad de Cuenca. <br> Av.12 de Abril y Av. Loja. (Edificio Promas, 3° Planta) <br>
 <a href="https://www.ucuenca.edu.ec/" target="_blank" class="logo">
 <img src="images/logoUcuenca.png" alt="ucuenca" width="150px"> </a>
     </div>

	</div>
</template>
